{% extends 'layout.twig' %}

{% block body %}
    <h1>Information</h1>
    <p>This site is not an ad. Websites mentioned as website of the day in no way, shape or form pay or offer anything to be on this site.</p>
{% endblock %}