html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
}

.websiteEntry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.websiteEntry .websiteTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  gap: 0.5rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(0,0,0, 0.3);
  transition: background-color 0.1s linear;
  user-select: none;
  color: #fff;
  text-decoration: none;
}

.circle:hover {
  background-color: rgba(0,0,0, 0.5);
}
