---
import Ad from "../components/Ad.astro";
export const prerender = false;

import Website from "../models/Website";
import Layout from '../layouts/Layout.astro';
import ActionButton from "../components/ActionButton.astro";

const website = await Website.getCurrentWebsite();
if (website === null) {
	throw "Could not fetch a random website";
}
---
<Layout>
	<main>
		<h1>Today's interesting website:</h1>
		<article>
			<p class="name">{website.name}</p>
			<p class="description">{website.description}</p>
			<div>
				<ActionButton href={website.url} >Visit it now!</ActionButton>
				<ActionButton href="/random" >Try another random one!</ActionButton>
			</div>
		</article>
		<div class="buttons">
			<ActionButton
				href="https://github.com/YouHaveTrouble/interesting-website-of-the-day"
				alt="GitHub"
			>
				<svg height="1.75rem" aria-hidden="true" viewBox="0 0 24 24" width="1.75rem">
					<path fill="#fff" d="M12 1C5.9225 1 1 5.9225 1 12C1 16.8675 4.14875 20.9787 8.52125 22.4362C9.07125 22.5325 9.2775 22.2025 9.2775 21.9137C9.2775 21.6525 9.26375 20.7862 9.26375 19.865C6.5 20.3737 5.785 19.1912 5.565 18.5725C5.44125 18.2562 4.905 17.28 4.4375 17.0187C4.0525 16.8125 3.5025 16.3037 4.42375 16.29C5.29 16.2762 5.90875 17.0875 6.115 17.4175C7.105 19.0812 8.68625 18.6137 9.31875 18.325C9.415 17.61 9.70375 17.1287 10.02 16.8537C7.5725 16.5787 5.015 15.63 5.015 11.4225C5.015 10.2262 5.44125 9.23625 6.1425 8.46625C6.0325 8.19125 5.6475 7.06375 6.2525 5.55125C6.2525 5.55125 7.17375 5.2625 9.2775 6.67875C10.1575 6.43125 11.0925 6.3075 12.0275 6.3075C12.9625 6.3075 13.8975 6.43125 14.7775 6.67875C16.8813 5.24875 17.8025 5.55125 17.8025 5.55125C18.4075 7.06375 18.0225 8.19125 17.9125 8.46625C18.6138 9.23625 19.04 10.2125 19.04 11.4225C19.04 15.6437 16.4688 16.5787 14.0213 16.8537C14.42 17.1975 14.7638 17.8575 14.7638 18.8887C14.7638 20.36 14.75 21.5425 14.75 21.9137C14.75 22.2025 14.9563 22.5462 15.5063 22.4362C19.8513 20.9787 23 16.8537 23 12C23 5.9225 18.0775 1 12 1Z"></path>
				</svg>
			</ActionButton>
			<ActionButton
				href="https://github.com/YouHaveTrouble/interesting-website-of-the-day/issues/new?template=submit_website.yml"
				alt="Submit website"
			>
				<svg width="1.75rem" height="1.75rem" viewBox="0 0 1024 1024" class="icon" xmlns="http://www.w3.org/2000/svg"><path d="M905.92 237.76a32 32 0 0 0-52.48 36.48A416 416 0 1 1 96 512a418.56 418.56 0 0 1 297.28-398.72 32 32 0 1 0-18.24-61.44A480 480 0 1 0 992 512a477.12 477.12 0 0 0-86.08-274.24z" fill="#fff" /><path d="M630.72 113.28A413.76 413.76 0 0 1 768 185.28a32 32 0 0 0 39.68-50.24 476.8 476.8 0 0 0-160-83.2 32 32 0 0 0-18.24 61.44zM489.28 86.72a36.8 36.8 0 0 0 10.56 6.72 30.08 30.08 0 0 0 24.32 0 37.12 37.12 0 0 0 10.56-6.72A32 32 0 0 0 544 64a33.6 33.6 0 0 0-9.28-22.72A32 32 0 0 0 505.6 32a20.8 20.8 0 0 0-5.76 1.92 23.68 23.68 0 0 0-5.76 2.88l-4.8 3.84a32 32 0 0 0-6.72 10.56A32 32 0 0 0 480 64a32 32 0 0 0 2.56 12.16 37.12 37.12 0 0 0 6.72 10.56zM230.08 467.84a36.48 36.48 0 0 0 0 51.84L413.12 704a36.48 36.48 0 0 0 51.84 0l328.96-330.56A36.48 36.48 0 0 0 742.08 320l-303.36 303.36-156.8-155.52a36.8 36.8 0 0 0-51.84 0z" fill="#fff" /></svg>
			</ActionButton>
		</div>
		<Ad/>
	</main>
</Layout>

<style lang="scss" scoped>
	main {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		text-align: center;
		line-height: 1;
		gap: 0.5rem;
		color: white;
		h1 {
			font-weight: 500;
		}
		article {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: (min(100%, 35rem));
			background-color: rgba(0, 0, 0, 0.35);
			border-radius: .5rem;
			padding: 1rem;
			gap: 1.5rem;

			div {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 1rem;
			}

			.name {
				font-size: 1.75rem;
			}
		}

		.buttons {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			gap: 0.25rem;
		}
	}
</style>
